<% provide(:title, "Help") %>
<h1><%= t".Help"%></h1>
<p>
  <%= t".desc_1"%>
  <a href="http://www.railstutorial.org/help">Rails Tutorial help section</a>.
  <%= t".desc_2"%>
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
